<%- include("partials/header.ejs") %>

        <section id="hero-sn">
            <div class="wrapper">
                <div class="intro">
                    <h1 id="intro-name"></h1>
                    <h3 id="intro-role"></h3>
                    <p id="intro-skills"></p>
                    <button class="btn" id="contact">Contact Me</button>
                </div>
                <!--img src="/me.png"-->
            </div>

            
        </section>
        <section id="sn-2">
            <div class="wrapper">
                <h1 class="sn-title lt">Introduction</h1>
                <hr>
                <div class="body">
                    <img src="/potrait-me.jpg">
                    <p class="sn-text">My name is William Wani. I'm based in Mutare, Zimbabwe.
                        I am full stack developer, specialising in backend development, with two years
                        of experience working on personal projects; which showcase my skills. <br> 
                        I am currently studying for a BSc. in Computer Science and Applied Mathematics at Rhodes University 
                        in South Africa, expected to graduate in 2025. <br>
                        I take pride in having a high standard for my work. Client 
                        satisfaction always comes first, and passion is at the center of all I do.
                    </p>
                    
            </div>
            </div>
        </section>
        <section id="sn-3">
            <div class="wrapper">
                <h1 class="sn-title rt">My Skills</h1>
                <hr>
                <div class="grid-container">
                    <div class="skill">
                        <img src="/HTML5_Logo_256.png" alt="skill-logo">
                        <h3>HTML/CSS</h3>
                    </div>
                    <div class="skill">
                        <img src="/js_logo.png" alt="skill-logo">
                        <h3>JavaScript</h3>
                    </div>
                    <div class="skill">
                        <img src="/postgres_logo.png" alt="skill-logo">
                        <h3>PostgreSQL</h3>
                    </div>
                    <div class="skill">
                        <img src="/mongo_logo.png" alt="skill-logo">
                        <h3>MongoDB</h3>
                    </div>
                    <div class="skill">
                        <img src="/node_logo.png" alt="skill-logo">
                        <h3>Node.js</h3>
                    </div>
                    <div class="skill">
                        <img src="/react_logo.png" alt="skill-logo">
                        <h3>React</h3>
                    </div>
                </div>
        </section>
        <section id="sn-4">
            <div class="wrapper">
                <h1 class="sn-title lt">My Work</h1>
                <hr>
                <p class="sn-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Animi magni repellat repellendus adipisci sed quo voluptas consequuntur 
                    quod alias a consequatur accusantium unde ducimus dignissimos dolorem deserunt, 
                    illo reprehenderit incidunt. Non, dicta recusandae. Cumque culpa assumenda 
                    inventore ut laborum non eaque corrupti aspernatur placeat, consequuntur 
                    porro quam accusantium commodi perspiciatis! In necessitatibus nesciunt ea, 
                    saepe distinctio, dolore nam atque praesentium, voluptatibus earum eaque 
                    quaerat dolorum. Molestiae ipsum, hic officiis facere odio at qui, fugit 
                    amet, possimus nihil voluptas assumenda praesentium. Aperiam maxime 
                    obcaecati quo odio perferendis voluptates harum aut doloribus. Possimus quia 
                    nam quae corporis officia error rerum reiciendis amet dolorem eum, laboriosam 
                    neque numquam blanditiis corrupti impedit velit exercitationem incidunt, dolore 
                    asperiores fuga. Accusamus dicta labore esse ab corrupti odit officia. Aliquid 
                    quia, ipsum minus fuga ducimus nisi inventore alias incidunt maiores labore 
                    molestiae asperiores explicabo rerum molestias ex sit itaque culpa soluta numquam aperiam debitis cum cupiditate error. Fugiat odio rem corporis, harum deleniti earum animi sunt tempore porro, perspiciatis nulla impedit sint ipsam fuga consequuntur accusantium! Reiciendis nesciunt ratione vero dolorum non suscipit, tempora aut. Modi quod pariatur, similique corporis rerum vel, eligendi, doloremque voluptatem molestiae atque enim incidunt porro? 
                    Obcaecati laborum architecto eius officiis? Ipsum, expedita.</p>
        </section>
        <section id="sn-5">
            <div class="wrapper">
                <h1 class="sn-title ct">Let's Get In Touch</h1>
                <p>Feel free to connect with me to collaborate on a project, or ask questions!</p>
                <form action="submit" method="post" id="usrform">
                    <input type="text" name="fullName" id="fullName" placeholder="Full Name" required>
                    <input type="email" name="eMail" id="eMail" placeholder="E-Mail" required>
                    <textarea name="message" form="usrform" placeholder="Message"></textarea>
                    <input type="submit" class="btn" id="submitBtn" value="Submit">
                </form>
        </section>
<%- include("partials/footer.ejs") %>
    